<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @event.starts %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @event.ends %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', root_path %>
